<footer class="footerContainer">
    <div class="grupo1">
        <div class="cajaFooter">
            <figure>
                <a target="_blank" href="https://www.youtube.com/watch?v=RXKabdUBiWM">
                    <img src="https://c.tenor.com/ZAMoMuQgf9UAAAAd/tenor.gif" alt="">
                </a>
            </figure>
        </div>
        <div class="cajaFooter">
            <a target="_blank" href="https://github.com/JulioCisner0s"><h4 class="parrafoFooter">Otros Proyectos</h4></a> 
            <a target="_blank" href="https://github.com/JulioCisner0s"><p class="parrafoFooter">Accede a mi GitHub!!! </p></a> 
        </div>
        <div class="cajaFooter">
            <h5>NUESTRAS REDES</h5>
            <div class="redes">
                <a target="_blank" href="https://www.instagram.com/juliocisneros24/" class="fa fa-instagram"></a>
                <a target="_blank" href="https://github.com/JulioCisner0s" class="fa fa-github"></a>
                <a target="_blank" href="https://www.linkedin.com/in/julio-c%C3%A9sar-cisneros-rosales-4a814b200/" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
</footer>